// parameters for generate_bed_vep

params.gene_panels="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GVx0vkQ433Gvq63k1Kj4Y562" //230602_genepanels.tsv
params.exons_nirvana="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GF611Z8433Gk7gZ47gypK7ZZ" //GCF_000001405.25_GRCh37.p13_genomic.exon_5bp_v2.0.0.tsv
params.nirvana_genes2transcripts="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GV4P970433Gj6812zGVBZvB4" //230421_g2t.tsv
params.flank_vep=495
params.epic_menifest=""
params.additional_regions="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GJZQvg0433GkyFZg13K6VV6p" //CEN_CNV_additional_regions_b37_v1.0.1.tsv
params.outdir1 = "./generate_bed_output"

//parameters for gatk cnv call

params.project="" //dx://project-GX84pyQ4FKX336bxfkQV7X1X:/athena_test/ project dir where bam bai files are located
params.extension="*{.bam,.bam.bai}"
params.bam="$params.project"+"$params.extension"
params.interval_list="" // CEN_CNV_targets_v1.1.0_sorted.interval_list project-Fkb6Gkj433GVVvj73J7x8KbV:file-GFPxzKj4V50pJX3F4vV58yyg
params.annotation_tsv="" //CEN_CNV_targets_v1.1.0_sorted_annotation.tsv project-Fkb6Gkj433GVVvj73J7x8KbV:file-GFPxzPQ4V50z4pv230p82G0q
params.num_sample=""
params.run_name=""
params.FilterIntervals_args=" --minimum-gc-content 0.1 --maximum-gc-content 0.9 --minimum-mappability 0.9 --maximum-mappability 1.0 --low-count-filter-count-threshold 5 --low-count-filter-percentage-of-samples 90.0"
params.outdir2 = "./gatk_output"

//parameters for vep
params.fasta = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G6BYyyj4YV3pYBkgFVGP2K4P" // Homo_sapiens.GRCh37.dna.toplevel.fa.gz
params.fasta_fai="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G6P32kj4YV3y58KyP4k4qG2p" // Homo_sapiens.GRCh37.dna.toplevel.fa.gz.fai
params.fasta_gzi="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G6BYz104YV3X5qp463K5b5vp" // Homo_sapiens.GRCh37.dna.toplevel.fa.gz.gzi
params.ref_bcftools="dx://project-F3zqGV04fXX5j7566869fjFq:file-F3zxG0Q4fXX9YFjP1v5jK9jf" //hs37d5.fasta-index.tar.gz

params.cache_version=107
params.cache_file="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GQ7YF104GV6YQ0B98qyQQP58"

params.outdir3 = "./vep_output"

params.field_str="Allele,SYMBOL,VARIANT_CLASS,Consequence,IMPACT,EXON,INTRON,Feature,STRAND"
params.buffer_size=500

//parameters for additional_cnv_tasks

params.output_length=true
params.output_seg=true
params.outdir4 = "./additional_cnv_tasks_output"

//parameters for annotate_excluded_regions

params.additional_regions="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GJZQvg0433GkyFZg13K6VV6p" //CEN_CNV_additional_regions_b37_v1.0.1.tsv
params.cds_hgnc="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GF611Z8433Gk7gZ47gypK7ZZ" //GCF_000001405.25_GRCh37.p13_genomic.exon_5bp_v2.0.0.tsv
params.cds_gene="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-GF611Z8433Gf99pBPbJkV7bq" //GCF_000001405.25_GRCh37.p13_genomic.symbols.exon_5bp_v2.0.0.tsv
params.outdir5 = "./annotate_excluded_regions_output"

//parameters for generate_variant_workbook
params.exclude_columns="REF FILTER CSQ_Allele CSQ_Consequence CSQ_IMPACT"
params.acmg=false
params.add_comment_column=true
params.keep_tmp=false
params.reorder_columns="CHROM POS END CNVLEN ID ALT QUAL CSQ_SYMBOL CSQ_Feature CSQ_VARIANT_CLASS CSQ_EXON CSQ_INTRON CSQ_STRAND GT CN NP QA QS QSE QSS"
params.summary="dias"
params.keep_filtered=true
params.outdir6 = "./workbook_output"
params.additional_sheet_names="ExcludedRegions"


//docker
process {

  withName:generate_bed_excluded_annotation {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
  
  withName:generate_bed_vep {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
     
  withName:getting_panel_for_bed {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
      
    withName:CollectReadCounts {
        container = 'broadinstitute/gatk:4.4.0.0'
     }
     
    withName:gatk {
        container = 'broadinstitute/gatk:4.4.0.0'
     }
     
    withName:PostprocessGermlineCNVCalls {
        container = 'broadinstitute/gatk:4.4.0.0'
     }
     
    withName:generate_gcnv_bed {
        container = 'wintun12/fordnanexus:panda_numpy'
     }
    withName:vep {
        container = 'ensemblorg/ensembl-vep:release_110.1'
     }
  
   withName:filter_after_annotation {
        container = 'ensemblorg/ensembl-vep:release_110.1'
     }
     
   withName:additional_cnv_tasks {
        container = 'wintun12/fordnanexus:pysam_pandas'
  }
  
  withName:annotate_excluded_regions{
        container = 'wintun12/fordnanexus:panda_numpy'
  }
  withName:generate_variannt_workbook {
        container = 'wintun12/fordnanexus:workbook_python'
  }  
}
docker {
    enabled = true
}

docker.runOptions = '-u $(id -u):$(id -g) --env-file <(env | grep "DX_JOB_ID")'

//machine type
process {

     withName:generate_bed_excluded_annotation {
        machineType = 'mem1_ssd1_v2_x4'
   }
    
    withName:generate_bed_vep {
        machineType = 'mem1_ssd1_v2_x4'
  }
     
   withName:getting_panel_for_bed {
        machineType = 'mem1_ssd1_v2_x4'
  }
  
      withName:CollectReadCounts {
        machineType = 'mem1_ssd1_v2_x8'
     }
     
    withName:gatk {
        machineType = 'mem1_ssd1_v2_x8'
     }
     
    withName:PostprocessGermlineCNVCalls {
        machineType = 'mem1_ssd1_v2_x8'
     }
    withName:generate_gcnv_bed {
        machineType = 'mem1_ssd1_v2_x8'
     }     
     
    withName:filter_b4_annotation {
        machineType = 'mem1_ssd1_v2_x16'
    }
    withName:normalise {
        machineType = 'mem1_ssd1_v2_x16'
    }
  
    withName:vep {
        machineType = 'mem1_ssd1_v2_x16'
    }
  
    withName:generate_transcript {
        machineType = 'mem1_ssd1_v2_x16'
    }
  
    withName:filter_after_annotation {
        machineType = 'mem1_ssd1_v2_x16'
    }
    
    withName:additional_cnv_tasks {
        machineType = 'mem1_ssd1_v2_x2'
     }
     
    withName:annotate_excluded_regions {
        machineType = 'mem1_ssd1_v2_x2'
     }
   withName:generate_variannt_workbook {
        machineType = 'mem1_ssd1_v2_x4'
     }
}

executor {
    queueSize = 99
}
